<!doctype html>
<html>
<head>
    <title>labeling</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
<h1>Data labeler</h1>

<p>upload zip file with images</p>
<form method="post" enctype="multipart/form-data" action="/uploadZIP">
    <input name="file" type="file" size="150">
    <button type="submit" style="font-size: 25px;">UPLOAD</button>
</form>
<br>

<canvas id="canvas" style="border:3px solid #d3d3d3;">
</canvas>
<p>
<button id="add" style="font-size: 22px;" onclick="upload_label()">ADD</button>
<select id="selected_label" name="selected_label">
    <option value=0>labelXY</option>
</select>

<button id="add_label" onclick="add_label()">+Label</button>
<input type="button" onclick="location.href='{{ url_previous }}';" value="<-- PREVIOUS" />
<input type="button" onclick="location.href='{{ url_next }}';" value="NEXT -->"/>
</p>
<input type="button" onclick="location.href='{{ label_download }}';" value="download labels"/>

<script>
    var canvas = document.getElementById("canvas");
    canvas.height= window.innerHeight/1.5;
    canvas.width= window.innerWidth/1.5;
    var ctx = canvas.getContext("2d");
    var rect = {};
    var yolo_data= {
        "label_index": -1,
        "middle_x": 0,
        "middle_y": 0,
        "width": 0,
        "height": 0,
        "image": ""
    }
    var drag = false;
    var image = null;

    var add_button= document.getElementById("add");
    add_button.addEventListener("click", getYolo);

    function init() {
        image = new Image();
        image.onload = function () {
            ctx.drawImage(image, 0, 0);
        };
        image.src = "{{ image_path }}";
        yolo_data["image"]= image.src;
        canvas.addEventListener('mousedown', mouseDown, false);
        canvas.addEventListener('mouseup', mouseUp, false);
        canvas.addEventListener('mousemove', mouseMove, false);
    }

    function mouseDown(e) {
        rect.startX = e.pageX - this.offsetLeft;
        rect.startY = e.pageY - this.offsetTop;
        drag = true;
    }

    function mouseUp() {
        drag = false;
    }

    function mouseMove(e){
        if(!drag) return 0;
        ctx.clearRect(0,0, canvas.width, canvas.height);
        ctx.drawImage(image, 0,0);
        rect.w = (e.pageX - this.offsetLeft) - rect.startX;
        rect.h = (e.pageY - this.offsetTop) - rect.startY;
        ctx.strokeStyle = 'red';
        ctx.lineWidth= 5;
        ctx.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
    }

    function getYolo(){
        var width= Math.abs(rect.w/image.width);
        var height= Math.abs(rect.h/image.height);
        var x_middle= (rect.startX + (width*image.width)/2)/image.width;
        var y_middle= (rect.startY + (height*image.height)/2)/image.width;
        yolo_data["middle_x"]= x_middle;
        yolo_data["middle_y"]= y_middle;
        yolo_data["width"]= width;
        yolo_data["height"]= height;

        var optionList= document.getElementById("selected_label");
        yolo_data["label_index"]= optionList.value;
    }

    function add_label(){
        var list= document.getElementById("selected_label");
        var label= prompt("new label: ");
        if(list[0].text === 'labelXY'){
            list[0].text= label;
        }else{
            var option= document.createElement("option");
            option.text= label;
            option.value= list.length;
            list.add(option, null);
        }
    }

    function upload_label(){
        getYolo();
        var xhttp= new XMLHttpRequest();
        xhttp.open("POST", "/add?"+JSON.stringify(yolo_data), true);
        xhttp.send();
    }
    init();
</script>

</body>
</html>

